body {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
}
h2 {
  font-family: "Montserrat";
  font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3,h4,h5,h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p{
  font-family: "Montserrat-bold";
  font-weight: 900;
  color: #8f8f8f;
}
.a{
  color: #8f8f8f;
}
.container-fluid {
  padding: 3% 15%;
}
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}
.intro {
  color: #FFFFFF;
  /* padding-bottom: 30px; */
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 0%;
}
#features {
  /* padding: 7% 15%;
  background-color: #fff; */
  position: absolute;
}
.tle-image {
  width: 60%;
  transform: rotate(25deg);
  padding: 0 0 0 40px;
  z-index: auto;
  position: relative;
  /* right: 30%; */
}
#features {
  /* padding: 7% 15%;
  background-color: #fff; */
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
    /* font-weight: bold; */
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  /* font-weight: bold; */
}

.icon:hover {
  color: #ff4c68;
}

/* testomonial section */
#testimonials {
  padding: 7% 15%;
  background-color: #ef8172;
}
.testimonial-text {
  font-family: "Montserrat-Black";
  font-size: 2rem;
  /* padding:7% 15%; */
}
.test-img {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
.test-img2{
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding:7% 15%;
}
#pricing{
  padding: 100px;
}
.pricing-column
{
  padding:3% 2%;

}
#cta{
  background-color: #ff4c68;
  color:#fff;
  padding:7% 15%;
}
.cta-heading
{
  font-family: "Montserrat-Black";
  font-size: 3rem;
  padding:7% 15%;
}
.social-icon {
  margin: 20px 10px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .tle-image {
    position: static;
    transform: rotate(0);
  }
}
